@import url('https://fonts.googleapis.com/css?family=Nunito');


.mcs {
  color: #4a4a4a;
  border: 5px solid #17A5A5;
  border-radius: 5px;
  font-family: 'Nunito', sans-serif;
}
@media (max-width: 768px) {
  .mcs {
    margin: 3px;
  }
}

#rowone {
  padding: 5px;
}
#title {
  height: 143px;
  padding-top: 30px;
  padding-bottom: 60px;
  text-align: right;
}
#title h1 {
  font-size: 40px;
  font-weight: bold;
}
@media (max-width: 768px) {
  #title, #picholder {
    text-align: center;
  }
  #title {
    height: 114px;
    padding-bottom: 30px;
  }
}


#rowtwo {
  background-color: #282828;
  color: white;
  padding: 5px;
}
.ulsize {
  font-size: 20px;
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #282828;
}
.ulsize li {
  float: left;
  display: block;
  text-align: center;
  padding: 16px;
  color: white;
}
.ulsize li:hover{
  cursor: default;
  background-color: #4a4a4a;
}

#rowthree {
  padding: 5px;
}
.tabed {
  margin-left: 20px;
}
.click {
  font-weight: bold;
  color: #17A5A5;
  text-shadow: -1px 1px #4a4a4a;
}
.click:hover {
  color: #4a4a4a;
  text-shadow: -1px 1px 3px #17A5A5;
  cursor: pointer;
}
.curse {
  cursor: default;
}
#rr, #pd, #ja, #cd, #cn, form {
  display: none;
}
#ptag {
  font-size: 15px;
}
.fr {
  margin: 40px;
  color: white;
  background-color: #17A5A5;
}
